<div class="col-xs-8">
	<h1>about MELLOW BANANA</h1>
	<p>Mellow Banana is an App created only for a student proposal, in other words this web is a way to learn and we don't try to achieve any kind of benefits. </p>
	<p>The Project YouthCanDoIt try to teach or form youth people who don't have a job. The idea is form this people in order to give them some competences to face the new wold's job demand as a 'programmer'.</p>
	<p>YouthCanDoIt project is leaded by KOLAU company digging deeper by Danny Mola the founder and CEO of Kolau</p>
</div>

<div class="col-xs-4">
	<%= image_tag("logo/kolau_logo.png", width:'350px')  %>
	<br />
	<br />
	<%= image_tag("logo/LOGO_CEIBALAGUER.png", width:'350px')  %>	
</div>
