<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
	<h1>about MELLOW BANANA</h1>
	<p>Mellow Banana is an App created by a student proposal, in other words this web is only a way to learn, we don't try to achieve any kind of benefits. </p>
	<p>The Project YouthCanDoIt try to teach youth people who don't have a job. The idea is form this people in order to give them some competences to face the new wold's job demand as a 'programmer'.</p>
	<p>YouthCanDoIt project is leaded by KOLAU company digging deeper by Danny Mola the kolau's founder and CEO</p>
	<p>In Mellow Banana the student try to use the new ability adquire during this cours ruby enviroment</p>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
	<%= image_tag("logo/kolau_logo.png", width:'350px')  %>
	<br />
	<br />
	<%= image_tag("logo/LOGO_CEIBALAGUER.png", width:'350px')  %>	
</div>
