<h1>Statics#index</h1>
<p>Find me in app/views/statics/index.html.erb</p>
<p>HOLA</p>

<p><%= link_to "About us", about_path %></p> 
<p><%=link_to "Login", new_user_session_path %></p> 
<p><%=link_to "Sign up", new_user_registration_path %></p>