// Place all the styles related to the peliculas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .fondo1 {
    background-color:LightGrey;
    height: 110px;
    width: 100%;    
    padding-top: 20px;
    padding-left: 20px; 
    padding-right: 20px;
    margin-top: 20px;

	}

   .fondo2 {
    background-color: LightGrey;
    height: 60px;
    width: 100%;    
    padding-top: 10px;  
    padding-left: 20px; 
    padding-right: 20px;

	}
	
	// #F9F9FB 