// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$fondoencabezado: #494D56 ;
$bordesuperior: #FFD700;
$fondocolorb: #F9F9FB;
$subtexto: #DFD3D7;
$blanco: #FFF;
$fondoinferior: #27282C;
$lletresgrises: #696969;

.aplicaciondisenyo {
    .fondoencabezado {
    background-color: $fondoencabezado;
    height: 100%;
    width: 100%;
    border-top: 10px solid $bordesuperior;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    text-align: right;
    padding-right: 20px;

    .magenencabezado {
     padding-left: 20px;
     padding-top: 20px;
     padding-right: 20px;
     padding-bottom: 20px;   
    }
        
    }

   	.fondocuerpo{
   	background-color: $fondocolorb;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
       
   	}
    .margenes{    
    padding-left: 100px;
    padding-right: 100px;
    }

    .textoalineado{
        text-align: bottom;        
    }    

     .fondopie {
    background-color: $fondoencabezado;
    height: 60px;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 50px;
    margin-top: 0px;
    text-align: right;

        .colorpie {
        color:$bordesuperior;
        font-weight: normal;
        }
        .textopie {
        color:$blanco;
        font-size: 14px;
        }
        .mb {
        color:$bordesuperior;
        }
    }

    .boxesinicio1 {
    border-top: 10px solid $bordesuperior;
    background-color: $blanco;
    height: 100%;
    margin-top:50px;
    padding-left: 30px;
    padding-bottom: 20px;
    }
    .boxesinicio2 {
    border-top: 10px solid $fondoencabezado;
    background-color: $blanco;
    height: 100%;
    margin-top:50px;
    padding-left: 30px;
    padding-bottom: 20px;
    }

    table {
    background-color: $blanco;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    .textojst{
        text-align: justify;
    }
    .imagenmag{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .imgacenterar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}