<div class="container"><!--  container -->
    <div class="row fondopie"><!--  first row -->
       	<div class="col-xs-12 "><!-- first column -->
        	<p class="textopie"> <span class="glyphicon glyphicon-star mb"></span><span class="mb">MELLOW BANANA</span> developers </p>
      	</div><!-- / first column -->
    </div ><!-- / first row -->    
</div> <!-- / container -->